<footer class="mt-auto text-white-50">
  <p>
    CocoaTalk for
    <a href="https://codingon.co.kr/" class="text-white">Codingon</a>, by
    <a href="https://jayoung977.tistory.com/" class="text-white">@jayoung977</a
    >.
  </p>
</footer>
