@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
/* font-family: 'Nanum Brush Script', cursive; */

@font-face {
    font-family: 'KCCChassam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');


p:first-child {
    font-family: 'Nanum Brush Script', cursive;
}


p:last-child {
    font-family: 'KCCChassam';
}
