<html lang="ko" class="h-100">
  <head>
    <%- include('include/include', { title: 'CocoaTalk' })%>
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%- include('include/include_nav')%>

      <main class="px-3">
        <%if (isLogin) { %>
        <h1><%=userid%>님 환영합니다.</h1>
        <p class="lead">
          <b style="color: rgb(251, 229, 77)">지금 바로</b>

          익명 채팅을 할 수 있습니다. <br />
          익명 채팅에 참여해보세요
        </p>
        <p class="lead">
          <a
            href="/chat"
            class="btn btn-lg btn-secondary fw-bold border-white bg-white"
            >Start Chat</a
          >
        </p>
        <%} else {%>
        <h1>CocoaTalk을 소개합니다.</h1>
        <p class="lead">
          코코아 톡은
          <b style="color: rgb(251, 229, 77)">임의의 누군가</b>

          와 단체 채팅을 할 수 있습니다. <br />회원가입하셔서 프로필을 만들고
          익명 채팅에 참여해보세요
        </p>
        <p class="lead">
          <a
            href="/user/signup"
            class="btn btn-lg btn-secondary fw-bold border-white bg-white"
            >Signup</a
          >
        </p>
        <%}%>
      </main>
      <%- include('include/include_footer')%>
    </div>
  </body>
</html>
